.cardWrapper{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.summonerStats{
  text-shadow: 6px 6px 10px rgba(122, 188, 255, 1);
  background: linear-gradient(90deg, rgba(17,210,226,1) 34%, rgba(38,125,173,0.6755077030812324) 57%);
  border-radius: 20px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  h1{
    font-size: 3em;
    padding: 10px;
  }
  h2{
    font-size: 2em;
    padding: 10px;
  }

}

.flexStats{
  h2{
    font-size: 2.5em;
    padding: 10px;
  }
  p{
    font-size: 2em;
    padding: 10px;
  }
  margin: 20px;
  text-shadow: 6px 6px 10px rgba(122, 188, 255, 1);
  background: linear-gradient(90deg, rgba(17,210,226,1) 34%, rgba(38,125,173,0.6755077030812324) 57%);
  border-radius: 20px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.soloStats{
  h2{
    font-size:2.5em;
    padding: 10px;
  }
  p{
    font-size: 2em;
    padding: 10px;
  }
  margin: 20px;
  margin: 20px;
  text-shadow: 6px 6px 10px rgba(122, 188, 255, 1);
  background: linear-gradient(90deg, rgba(17,210,226,1) 34%, rgba(38,125,173,0.6755077030812324) 57%);
  border-radius: 20px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

@media(max-width: 1000px){
  .cardWrapper{
    .summonerStats{
      width: 700px;
    }
    .flexStats{
      width: 700px;
    }
    .soloStats{
      width: 700px;
    }
  }
}


@media(max-width: 750px){
  .cardWrapper{
    .summonerStats{
      width: 500px;
      h2{
        font-size: 1.5em;
      }
    }
    .flexStats{
      width: 500px;
    }
    .soloStats{
      width: 500px;
    }
  }
}

@media(max-width: 570px){
  .cardWrapper{
    .summonerStats{
      h1{
        font-size: 1.5em;
      }
      h2{
        font-size: 1em;
      }
    }
    .flexStats{
      h2{
        font-size: 1.5em;
      }
      p{
        font-size: 1em;
      }
    }
    .soloStats{
      h2{
        font-size: 1.5em;
      }
      p{
        font-size: 1em;
      }
    }
  }
}

@media(max-width: 500px){
  .cardWrapper{
    .summonerStats{
      width: auto;
    }
    .flexStats{
      width: auto;
    }
    .soloStats{
      width: auto;
    }
  }
}